[submodule "source/classes/TestToolkit"]
	path = source/classes/TestToolkit
	url = https://github.com/DaphneWebFramework/TestToolkit.git
[submodule "source/classes/Harmonia"]
	path = source/classes/Harmonia
	url = https://github.com/DaphneWebFramework/Harmonia.git
